REDIS_ADDRESS=127.0.0.1:6379
REDIS_PASSWORD=

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=ulak_user
POSTGRES_PASSWORD=ulak_password
POSTGRES_DB=ulak_db
POSTGRES_SSLMODE=disable

WEBHOOK_BASE_URL=https://webhook.site
WEBHOOK_ENDPOINT=e76a5f29-6df4-48c9-97c2-df79857cd6e1
WEBHOOK_API_KEY=INS.me1x9uMcyYGlhKKQVPoc.bO3j9aZwRTOcA2Ywo
HTTP_TIMEOUT_SECONDS=30
HTTP_MAX_IDLE_CONNS=100
HTTP_MAX_IDLE_CONNS_PER_HOST=10
HTTP_IDLE_CONN_TIMEOUT=90
HTTP_DISABLE_COMPRESSION=false
HTTP_DISABLE_KEEP_ALIVES=false
REDIS_MESSAGE_TTL_SECONDS=1200

API_HEADER_KEY=x-ins-auth-key
API_KEY=secureinsider

# Server Configuration
SERVER_PORT=8080
SERVER_SHUTDOWN_TIMEOUT=30s
WORKER_STOP_TIMEOUT=10s
POPULATOR_INTERVAL=5s
SWAGGER_HOST=localhost:8080
SWAGGER_BASE_PATH=/